In [20]:
#Libraries
import pandas as pd

In [21]:
df = pd.read_csv('JBC_posts.csv')

In [22]:
print(df['text'])

0       Sometimes I'm up, sometimes I'm down. Everythi...
1                              I think my dogs are broken
2                                Damn. I used to be smart
3       Chihuahuas should not be a breed. Everyone fre...
4       Nothing brings me more joy than watching my pi...
                              ...
2300                                                  NaN
2301    (Him is such a bigger boy. Him Daddy's bigger ...
2302    I read so many different types of comments on ...
2303                                                  NaN
2304                 APPS.FACEBOOK.COM\nLog into Facebook
Name: text, Length: 2305, dtype: object

In [23]:
print(df['time'])

0       2021-04-19 15:02:00
1       2021-04-18 01:41:00
2       2021-04-16 17:12:00
3       2021-04-16 11:27:00
4       2021-04-16 10:58:00
               ...
2300    2017-01-04 20:01:00
2301    2016-12-24 00:42:00
2302    2016-11-23 19:31:00
2303    2016-01-26 22:23:00
2304    2011-12-20 22:45:00
Name: time, Length: 2305, dtype: object

In [24]:
#Create dataframe
df_posts= pd.DataFrame()

#Add fields
df_posts['time'] = df['time']
df_posts['text'] = df['text']
df_posts['images'] = df['images']
df_posts['video'] = df['video']

In [25]:
df_posts=df_posts.mask(df.applymap(str).eq('[]'))
df_posts=df_posts.fillna('None')
print(df_posts)

                     time                                               text  \
0     2021-04-19 15:02:00  Sometimes I'm up, sometimes I'm down. Everythi...
1     2021-04-18 01:41:00                         I think my dogs are broken
2     2021-04-16 17:12:00                           Damn. I used to be smart
3     2021-04-16 11:27:00  Chihuahuas should not be a breed. Everyone fre...
4     2021-04-16 10:58:00  Nothing brings me more joy than watching my pi...
...                   ...                                                ...
2300  2017-01-04 20:01:00                                               None
2301  2016-12-24 00:42:00  (Him is such a bigger boy. Him Daddy's bigger ...
2302  2016-11-23 19:31:00  I read so many different types of comments on ...
2303  2016-01-26 22:23:00                                               None
2304  2011-12-20 22:45:00               APPS.FACEBOOK.COM\nLog into Facebook

                                                 images video
0                                                  None  None
1     ['https://scontent-lga3-1.xx.fbcdn.net/v/t1.64...  None
2                                                  None  None
3                                                  None  None
4                                                  None  None
...                                                 ...   ...
2300  ['https://scontent-lga3-1.xx.fbcdn.net/v/t1.18...  None
2301                                               None  None
2302                                               None  None
2303  ['https://scontent-lga3-1.xx.fbcdn.net/v/t1.18...  None
2304                                               None  None

[2305 rows x 4 columns]

In [26]:
df_posts.to_csv('JBC_timeline.csv')